repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: ["--fix"]
        types: [python]
      - id: ruff-format
        types: [python]
